.form {
    display: flex;
    flex-direction: column;
  }
  
  .formName,
  .formNumber {
    display: flex;
    flex-direction: column;
    margin: 0.5rem auto;
    align-items: center;
    font-size: large;
    text-align: left;
    padding: 0.5rem 15rem 0.5rem 1rem;
  }
  
  .formBtn {
    width: 125px;
    padding: 6px;
    background: rgb(19, 49, 194);
    color: white; 
    border: inset 0.5px #683838;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: inset 0 0 0 2px #e9d5d5;
    margin: 0 auto;
  
  }
  
  .formBtn:hover {
    background-color: rgba(12,151,194);
    cursor: pointer;
  }